/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include shared.inc

#topBar {
  -moz-appearance: toolbar;
}

.viewGroupWrapper {
  -moz-box-align: center;
  -moz-box-pack: center;
}

#viewGroup {
  margin: 4px 0 9px;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1px;
  border-radius: @toolbarbuttonCornerRadius@;
  box-shadow: @loweredShadow@;
}

#viewGroup > radio,
#viewGroup > toolbarbutton {
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-appearance: none;
  font: menu;
  text-shadow: @loweredShadow@;
  margin: 0;
  padding: 0 4px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  background: @toolbarbuttonBackground@;
}

#viewGroup > radio:active:hover,
#viewGroup > toolbarbutton:active:hover {
  background: @toolbarbuttonPressedBackgroundColor@;
  text-shadow: @loweredShadow@;
  box-shadow: @toolbarbuttonPressedInnerShadow@;
}

#viewGroup > radio[selected=true],
#viewGroup > toolbarbutton[checked=true] {
  color: #FFF !important;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px;
  background: #606060;
  box-shadow: inset #2A2A2A 0 3px 3.5px;
}

#viewGroup > radio[selected=true]:active:hover,
#viewGroup > toolbarbutton[checked=true]:active:hover {
  background-color: #4E4E4E;
  box-shadow: inset #1c1c1c 0 3px 3.5px;
}

#viewGroup:-moz-window-inactive {
  background-color: rgba(0, 0, 0, 0.25);
}

#viewGroup > radio:-moz-window-inactive,
#viewGroup > toolbarbutton:-moz-window-inactive {
  border-color: rgba(0, 0, 0, 0.4);
  background-image: @toolbarbuttonInactiveBackgroundImage@;
}

#viewGroup > radio[selected=true]:-moz-window-inactive,
#viewGroup > toolbarbutton[checked=true]:-moz-window-inactive {
  background: #8E8E8E;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 3.5px;
}

#viewGroup > radio:-moz-locale-dir(ltr):first-child,
#viewGroup > radio:-moz-locale-dir(ltr)[first-visible],
#viewGroup > radio:-moz-locale-dir(rtl):last-child,
#viewGroup > radio:-moz-locale-dir(rtl)[last-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(ltr):first-child,
#viewGroup > toolbarbutton:-moz-locale-dir(ltr)[first-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(rtl):last-child,
#viewGroup > toolbarbutton:-moz-locale-dir(rtl)[last-visible] {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: none !important;
}

#viewGroup > radio:-moz-locale-dir(ltr):last-child,
#viewGroup > radio:-moz-locale-dir(ltr)[last-visible],
#viewGroup > radio:-moz-locale-dir(rtl):first-child,
#viewGroup > radio:-moz-locale-dir(rtl)[first-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(ltr):last-child,
#viewGroup > toolbarbutton:-moz-locale-dir(ltr)[last-visible],
#viewGroup > toolbarbutton:-moz-locale-dir(rtl):first-child,
#viewGroup > toolbarbutton:-moz-locale-dir(rtl)[first-visible] {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

